html {width: 100%; height: 98%; }
body {width: 100%; height: 80%;  background: #070E20; z-index: 2;  overflow-x: hidden; margin: auto 0;}
header{ height: 20%; margin-left: 20%; margin-right: 20%;}

#btnMenu{margin-top: 35px; float: left; cursor: pointer; z-index: 10000;}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Stay on top */
    left: 0;
    background-color: rgba(1, 1, 1, .8); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: 'Noto Sans', sans-serif;
}

/* The navigation menu links */
.sidenav .important {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s
}

.sidenav .unimportant {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .logout:hover {
    color: #FF7E51;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #2bdaaf;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    margin-left: 20%; margin-right: 20%;
    width: 60%;
    height: 80%;
    transition: margin-left .5s;
    position: absolute;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
