p{width:100%; height:100%;}
body { overflow-x: hidden;}

#header{z-index: 100;}
#body{width:96%;  margin-left: 2%; margin-right: 2%;  z-index: 10;}
#divNothing {width:80%; height:80%; margin: auto;  text-align: center; margin-top: 10%; display: none; }
#imgNothing {margin: auto; width: 20%; height: auto;}
#txtNothing {color: #FFFFFF; font-family: 'Nanum Myeongjo', serif; font-size: 40px; text-align: center; }

#curPaging {float:left;}
#divNonNothing{width:100%; height:80%; text-align: center; }
#lists{ margin-left: 20%;}

#arrow{width: 22px; height: 22px;}
#arrowHidden{width: 22px; height: 22px;visibility: hidden; }
#txtQuestion{font-family: 'Nanum Myeongjo', serif; text-size: 25px;}
#txtTime{font-family: 'Noto Sans', sans-serif; text-size:18px;}
#txtAnswer{font-family: 'Noto Sans', sans-serif; text-size:20px;}

ul{text-align: left; list-style:none; padding-left:0px;  min-height:80%;}
li {color: #FFFFFF; width:100%; text-align: left; margin-bottom: 50px; cursor: pointer;}

.pagination {
    position: absolute;
    bottom: 0;
    margin:0 auto;
    margin-bottom: 50px;
}

.pagination a {
    color: white;
    float: left;  border-radius: 50%;

    padding: 8px 16px;
    text-decoration: none;
    margin-right: 10px;
}

.pagination div {
    float: left;  border-radius: 50%;

    padding: 8px 16px;
    text-decoration: none;
    margin-right: 10px;
}

.pagination a.active {
    background-color: #ffffff;
    color: #060D1f;
    margin-right: 10px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
