html, body {width: 100%; height: 100%; margin: auto 0; background: #070E20;}
p {color : #ffffff; font-size : 25px; font-family: SeoulNamsanCL;}
input {width: 430px; height: 60px; border-radius: 30px; margin-bottom: 46px; font-family: SeoulNamsanCL; font-size: 20pt;}

#nickname{margin-bottom: 70px;}
#btnSubmit{background: #2bdaaf; border-color: #2bdaaf; border-radius: 30px; width: 286px; height: 56px;
    font-family: SeoulNamsanCL; font-size: 25pt; color: #FFFFFF; cursor: pointer;}

.edit_title{font-size: 17pt; text-align:left;margin-bottom: 16px; margin-top: 46px; margin-left: 20px;}
.edit{background: #070E20; border-color: #FFFFFF; color:#ffffff; padding-left: 30px;}
.para{width: 100%; height: 100%; top:0; left:0; text-align:center; position:absolute;}
.para  .context{display:inline-block;vertical-align:middle; text-align:center;}
.para .blank{display:inline-block;width:0;height:100%;vertical-align:middle;}
